rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /preventivas/{preventivaId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }

    match /invites/{inviteId} {
      allow get: if true;
      allow create: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
      allow update: if request.auth != null
        && resource.data.used == false
        && request.resource.data.used == true
        && request.resource.data.usedBy == request.auth.uid
        && request.resource.data.createdBy == resource.data.createdBy
        && request.resource.data.role == resource.data.role;
    }

    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.uid == userId
        && request.resource.data.email == request.auth.token.email
        && (
          (!exists(/databases/$(database)/documents/metadata/firstAdmin)
            && request.resource.data.role == 'admin'
            && request.resource.data.inviteToken == null)
          ||
          (exists(/databases/$(database)/documents/metadata/firstAdmin)
            && request.resource.data.inviteToken is string
            && request.resource.data.inviteToken != null
            && get(/databases/$(database)/documents/invites/$(request.resource.data.inviteToken)).data.used == false
            && get(/databases/$(database)/documents/invites/$(request.resource.data.inviteToken)).data.role == request.resource.data.role
            && request.resource.data.role in ['user', 'admin'])
        );
      allow update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.role == resource.data.role
        && request.resource.data.uid == resource.data.uid;
    }

    match /metadata/{docId} {
      allow get: if true;
      allow create: if request.auth != null
        && docId == 'firstAdmin'
        && !exists(/databases/$(database)/documents/metadata/firstAdmin)
        && request.resource.data.createdBy == request.auth.uid
        && request.resource.data.role == 'admin';
    }

    match /presence/{userId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
